.klasa_diva{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid black 2px;
    width: 800px;
    height: 200px;
    border-radius: 20px;
    padding: 15px 20px;
}
#diva_1{
    text-align: center;
    background-color: rgba(0, 0, 255, 0.493);
}
#diva_2{
    text-align: left;
    background-color: rgba(0, 255, 0, 0.521);
}
#diva_3{
    text-align: right;
    background-color: rgba(255, 230, 0, 0.521);
}
.ne_smaraj{
    border: black solid 1px;
    padding: 15px 20px;
}
a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.text1{
    color: blue ; 
    font-family: Arial, Helvetica, sans-serif;
}
.text2{
    color: green ; 
    font-family: Arial, Helvetica, sans-serif;
}
.text3{
    color: rgb(165, 126, 42) ; 
    font-family: Arial, Helvetica, sans-serif;
}